WCF-demo-client/Connected Services/WCFService/WCF_DemoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCF_DemoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52034/WCF-DemoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52034/WCF-DemoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCF_DemoService_GetHeader_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHeader" />
  </wsdl:message>
  <wsdl:message name="IWCF_DemoService_GetHeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IWCF_DemoService_CsAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:CsAdd" />
  </wsdl:message>
  <wsdl:message name="IWCF_DemoService_CsAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:CsAddResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCF_DemoService">
    <wsdl:operation name="GetHeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_DemoService/GetHeader" message="tns:IWCF_DemoService_GetHeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_DemoService/GetHeaderResponse" message="tns:IWCF_DemoService_GetHeader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CsAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_DemoService/CsAdd" message="tns:IWCF_DemoService_CsAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_DemoService/CsAddResponse" message="tns:IWCF_DemoService_CsAdd_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCF_DemoService" type="tns:IWCF_DemoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHeader">
      <soap:operation soapAction="http://tempuri.org/IWCF_DemoService/GetHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CsAdd">
      <soap:operation soapAction="http://tempuri.org/IWCF_DemoService/CsAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCF_DemoService">
    <wsdl:port name="BasicHttpBinding_IWCF_DemoService" binding="tns:BasicHttpBinding_IWCF_DemoService">
      <soap:address location="http://localhost:52034/WCF-DemoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>